flows.json
[{"id":"62775610.ccd478","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6da68945.cf4628","type":"ui_text","z":"62775610.ccd478","group":"5fe37013.87297","order":2,"width":0,"height":0,"name":"","label":"Health Insurance Predicition","format":"{{msg.payload}}","layout":"row-center","x":724,"y":316,"wires":[]},{"id":"3db2e782.623eb8","type":"ui_form","z":"62775610.ccd478","name":"","label":"Health Insurance Prediction","group":"5fe37013.87297","order":1,"width":0,"height":0,"options":[{"label":"Region1","value":"Region1","type":"number","required":true},{"label":"Region2","value":"Region2","type":"number","required":true},{"label":"Region3","value":"Region3","type":"number","required":true},{"label":"Age","value":"Age","type":"number","required":true},{"label":"Sex","value":"Sex","type":"number","required":true},{"label":"BMI","value":"BMI","type":"number","required":true},{"label":"Children","value":"Children","type":"number","required":true},{"label":"Smoker","value":"Smoker","type":"number","required":true}],"formValue":{"Region1":"","Region2":"","Region3":"","Age":"","Sex":"","BMI":"","Children":"","Smoker":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"Health Insurance Prediction","x":125,"y":313,"wires":[["3208a4c5.07bb5c"]]},{"id":"3208a4c5.07bb5c","type":"function","z":"62775610.ccd478","name":"parameters","func":"global.set(\"Region1\",msg.payload.Region1)\nglobal.set(\"Region2\",msg.payload.Region2)\nglobal.set(\"Region3\",msg.payload.Region3)\nglobal.set(\"Age\",msg.payload.Age)\nglobal.set(\"Sex\",msg.payload.Sex)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"Children\",msg.payload.Children)\nglobal.set(\"Smoker\",msg.payload.Smoker)\nreturn msg;","outputs":1,"noerr":0,"x":165,"y":153,"wires":[["e0aaefde.40aba","e4f8140b.fee768"]]},{"id":"e0aaefde.40aba","type":"http request","z":"62775610.ccd478","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":235,"y":385,"wires":[["d54aaa0f.fbc648","22f8c939.297726"]]},{"id":"d54aaa0f.fbc648","type":"debug","z":"62775610.ccd478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":455,"y":445,"wires":[]},{"id":"159dac41.e648f4","type":"http request","z":"62775610.ccd478","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/8e3540a3-21f4-4961-add6-24ce334b12e0/deployments/7690e37f-76cb-493e-aaaa-cfcee3a6681e/online","tls":"","proxy":"","authType":"basic","x":395,"y":145,"wires":[["bfb460ff.06595","16ac157.8546deb"]]},{"id":"bfb460ff.06595","type":"debug","z":"62775610.ccd478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":595,"y":125,"wires":[]},{"id":"16ac157.8546deb","type":"function","z":"62775610.ccd478","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":616,"y":211,"wires":[["6da68945.cf4628"]]},{"id":"22f8c939.297726","type":"function","z":"62775610.ccd478","name":"prediction","func":"var token = msg.payload.token\nvar Region1=global.get('Region1')\nvar Region2=global.get('Region2')\nvar Region3=global.get('Region3')\nvar Age=global.get('Age')\nvar Sex=global.get('Sex')\nvar BMI=global.get('BMI')\nvar Children=global.get('Children')\nvar Smoker=global.get('Smoker')\nmsg.payload ={\"fields\":[\"Region1\",\"Region2\",\"Region3\",\"Age\",\"Sex\",\"BMI\",\"Children\",\"Smoker\"],values:[[Region1,Region2,Region3,Age,Sex,BMI,Children,Smoker]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":248,"wires":[["159dac41.e648f4","d5495520.059308"]]},{"id":"d5495520.059308","type":"debug","z":"62775610.ccd478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":465,"y":336,"wires":[]},{"id":"e4f8140b.fee768","type":"debug","z":"62775610.ccd478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":431,"y":17,"wires":[]},{"id":"5fe37013.87297","type":"ui_group","z":"","name":"","tab":"90dbe8b8.14b908","disp":true,"width":"6","collapse":false},{"id":"90dbe8b8.14b908","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]